:root{
    --light: #faf7f0;
    --dark: #f4e1ca; 
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    /* background-color: var(--light); */
    font-family: 'Cinzel', serif;
    background-color: rgba(250, 247, 240, 1);
    /* background: linear-gradient(180deg, rgba(250, 247, 240, 1) 0%, rgba(244, 225, 202, 1) 50%, rgba(237, 198, 138, 1) 100%); */
    /* background-size: cover;
    background-repeat: no-repeat; */
    /* background: linear-gradient(132deg, #ffffff, #b0a784, #efede5);
    background-size:  400% 400%;
    animation: Gradient 15s ease infinite; */
    
}

/* @keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  } */