.offerConclusion{
    background-color: var(--dark);
    padding: 50px;
    font-size: 20px;
    line-height: 2em;
    text-align: center;
    /* border-top: 1px solid black;
    margin: 0px 30px; */
}

.offerConclusion p{
    padding: 20px;
}

@media screen and (max-width:1200px){
    .offerConclusion{
        font-size: 18px;
    }
}

@media screen and (max-width:960px){
    .offerConclusion{
        font-size: 16px;
    }
}
@media screen and (max-width:500px){
    .offerConclusion{
        font-size: 12px;
        padding: 30px;
    }
    .offerConclusion p{
        padding: 10px;
    }
}